.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Google Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Google Sans', sans-serif;
    font-size: 24px;
    color: white;
}
